# Ambientes Virtuais
venv/
env/

# Arquivos de Senha
.env

# Cache do Python
__pycache__/
*.pyc

# Arquivos de controle
ROADMAP_V1_V2.md

# Backups de Banco de Dados
*.sql
bkp_zotto.sql
fix_words.py
cleanup.py

# Ferramentas e túneis locais
ngrok.exe
ngrok.yml